<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>Hi! My name is Manuel</h1>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<br>
				<p>I'm a salvadoran developer looking for improve my programming skills.</p>
				<h2>Why did I choose to learn Ruby?</h2>
				<p>I decided to learn Ruby because of a teacher I had 3 years ago, he suggested to learn Ruby and RoR beacuse of its simplicity and also because it's beeing used by a lot of modern business.</p>
				<div class="text-center">
					<%= link_to "Home", root_path, class:"btn btn-sm btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>