<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<%= image_tag("rails-logo.png") %>
			<h1>Welcome to Rails</h1>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>Rails is a software library that extends the Ruby programming language. David Heinemeier Hansson is its creator. He gave it the name “Ruby on Rails,” though it is often just called “Rails.”</p>
				<p>It is software code that is added to the Ruby programming language. Technically, it is a package library (specifically, a RubyGem), that is installed using the operating system command-line interface.</p>
				<p>Rails is a framework for building websites. As such, Rails establishes conventions for easier collaboration and maintenance. These conventions are codified as the Rails API (the application programming interface, or directives that control the code). The Rails API is documented online and described in books, articles, and blog posts. Learning Rails means learning how to use the Rails conventions and its API.</p>
				<p>Rails combines the Ruby programming language with HTML, CSS, and JavaScript to create a web application that runs on a web server. Because it runs on a web server, Rails is considered a server-side, or “back end,” web application development platform (the web browser is the “front end”). Later, this article will describe web applications in greater depth and show why a web development framework is needed to build complex websites.</p>
				<p>Read on for a more detailed look at Rails. First, we’ll look at why Rails uses the Ruby programming language. We’ll consider why Rails is popular, review some basic concepts, then look at Rails from six different perspectives to understand it better.</p>
				<div class="text-center">
					<%= link_to "About", about_path, class:"btn btn-sm btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>